<div class="flex flex-col md:flex-row md:w-full h-full p-4 gap-3">
  <app-card *ngIf="list69BData!=undefined"
    class="md:min-w-1/4 md:w-1/4 h-40"
    [Title]="list69BData.Title"
    [CentralText]="list69BData.total.toString()"
    [Footer]="'Fecha de actulizacion: '+ list69BData.date"
  ></app-card>
  <app-card *ngIf="listFoundData!=undefined"
    class="md:min-w-1/4 md:w-1/4 h-40"
    [Title]="listFoundData.Title"
    [CentralText]="listFoundData.total.toString()"
  ></app-card>

  <app-card *ngIf="listWatchData!=undefined"
    class="md:min-w-1/4 md:w-1/4 h-40"
    [Title]="listWatchData.Title"
    [CentralText]="listWatchData.total.toString()"
  ></app-card>

  
</div>
