<div class=" flex  flex-col md:flex-row md:w-full h-full p-4 gap-3">
    <div class="grid grid-cols-2 grid-rows-3 p-2 text-white bg-blue-800 w-full  md:min-w-1/4 md:w-1/4   h-40 rounded">
        <h5 class="row-start-1 row-span-1 col-span-2 font-bold text-2xl">Lista SAT 69B</h5>
        <div class="row-start-2 row-span-2 col-span-2 flex  items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-32 h-32 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
            <div class="flex text-8xl "><p>1899</p></div>
        </div>
        <div class=" col-span-2 content-end text-sm"><p>Ultima Fecha de Actualizacion:</p></div>
    </div>
    <div class="flex flex-col items-stretch text-white p-2 bg-blue-800 w-full md:min-w-1/4 md:w-1/4 h-40 rounded ">
        <h5 class="text-2xl font-bold">lista de seguimiento</h5>
        <div class=" flex  items-center place-content-between">
            <p class="text-6xl">17890</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16  ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
        </div>
        <div class="flex items-end h-full"><p class="">Ultima Fecha de Actualizacion:</p></div>
        
    </div>
    <app-card class="md:min-w-1/4 md:w-1/4 h-40" Title="Registros Encontrados" CentralText="1800" ></app-card>
    
    <div class="bg-blue-800 w-full md:w-1/4 h-40 rounded"></div>

</div>
